{% extends 'layout.html' %}

{% block content %}
    <section class="header">
{#        <h1>{{ my_name }}</h1>#}
        <p>Goal: Transition to full-stack developer</p>
        <!--I would suggest choosing a different picture here.-->
        <!--Like maybe a hobby photo-->
        <img src="/static/img/1629579985906.jpg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>About</h2>
        <h3>
            Curious. Driven. Thinker.
        </h3>
        <p>
            I started in I.T. and then switched to Healthcare I.T.  I have always been interested in software development,
            but never committed to learning until December 2022. I have a good career in healthcare I.T., and now I am
            going to pivot to software development. The ultimate goal is to start a company that connects ecommerce
            businesses with distributor's APIs.
        </p>
        <a href="#"><i class="far fa-file"></i>Resume</a>

        <p></p>
        <p></p>

        <table class="table table-hover table-borderless">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Company</th>
                    <th scope="col">Dates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Senior Consultant (Remote), Epic Willow Inpatient</td>
                    <td>Impact Advisors - Contract</td>
                    <td>Aug 2022 - Present</td>
                </tr>
                <tr>
                    <td>Senior Consultant (Remote), Epic Willow Inpatient</td>
                    <td>Nordic - Contract</td>
                    <td>Sept 2019 - Aug 2022</td>
                </tr>
            </tbody>
        </table>
    </section>
 {% endblock %}