{% extends 'layout.html' %}

{% block content %}
    <section class="header">
{#        <h1>{{ my_name }}</h1>#}
        <p>Your current goal. (Job, freelance, etc)</p>
        <!--I would suggest choosing a different picture here.-->
        <!--Like maybe a hobby photo-->
        <img src="/static/img/1629579985906.jpg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>Section Title</h2>
        <p>
            Soufflé cupcake cupcake.
            Brownie chocolate cake gingerbread candy carrot cake sesame snaps cookie cake.
            Bear claw pastry candy canes tart cookie caramels cotton candy caramels sweet roll.
            Bonbon tootsie roll gummi bears sugar plum pie croissant.
            Muffin sweet roll bonbon.
            Carrot cake gummies cheesecake.
            Gummi bears powder apple pie.
            Topping cake powder.
            Pastry chupa chups caramels.
        </p>
        <p>
            Soufflé cupcake cupcake.
            Brownie chocolate cake gingerbread candy carrot cake sesame snaps cookie cake.
            Bear claw pastry candy canes tart cookie caramels cotton candy caramels sweet roll.
            Bonbon tootsie roll gummi bears sugar plum pie croissant.
            Muffin sweet roll bonbon.
            Carrot cake gummies cheesecake.
            Gummi bears powder apple pie.
            Topping cake powder.
            Pastry chupa chups caramels.
        </p>
        <a href="#"><i class="far fa-file"></i>Resume</a>

        <p></p>
        <p></p>

        <table class="table table-hover table-borderless">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Company</th>
                    <th scope="col">Dates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Senior Consultant (Remote), Epic Willow Inpatient</td>
                    <td>Impact Advisors - Contract</td>
                    <td>Aug 2022 - Present</td>
                </tr>
                <tr>
                    <td>Senior Consultant (Remote), Epic Willow Inpatient</td>
                    <td>Nordic - Contract</td>
                    <td>Sept 2019 - Aug 2022</td>
                </tr>
            </tbody>
        </table>
    </section>


 {% endblock %}