{% extends 'layout.html' %}

{% block content %}
    <section class="header">
        <!--I would suggest choosing a different picture here.-->
        <!--Like maybe a hobby photo-->
        <img src="/static/img/1629579985906.jpg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <<section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            Let's talk. Send an email to get in touch.
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            895933+hodgeslo@users.noreply.github.com
        </p>
    </section>
        <a href="https://www.linkedin.com/in/lonniehodges/"><i class="far fa-file"></i>Resume on Linkedin</a>
    </section>
 {% endblock %}