{% extends 'layout.html' %}

{% block content %}
    <section class="header">
        <h1>Python Developer</h1>
        <p>Coding lets me create whatever idea comes to my mind.</p>
        <img src="/static/img/1629579985906.jpg" alt="Headshot of myself">
    </section>
    <section id="about">
        <h2>About Me</h2>
        <p>
            I started in I.T. and then switched to Healthcare I.T.  I have always been interested in software development,
            but never committed to learning until December 2022. I have a good career in healthcare I.T., and now I am
            going to pivot to software development. The ultimate goal is to start a company that connects ecommerce
            businesses with distributor's APIs.
        </p>
        <div id="triangle1"></div>
        <div id="triangle2"></div>
    </section>
    <section id="skills">
        <i class="fas fa-laptop-code"></i>
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>GitHub</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-list">
            {%  for project in projects.items %}
            <div id="project{{ project.id }}" class="a-project">
                <a href="/project/{{ project.id }}"><h3>{{ project.title }}</h3></a>
                <a href="{{ project.repo_link }}" class="github-btn">
                    <i class="fab fa-github"></i>
                    View on GitHub
                </a>
                <p>
                    {{ project.description }}
                </p>
                <p>
                    Skills: {{ project.skills }}
                </p>
            </div>
            {% endfor %}
        </div>
        <div id="triangle4"></div>
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            Let's talk. Send an email to get in touch.
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            895933+hodgeslo@users.noreply.github.com
        </p>
    </section>
{% endblock %}
